* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.main {
    max-width: 1766px;
    width: 100%;
    display: flex;
    position: relative;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main .menu {
    max-width: 150px;
    /* position: absolute; */
    background: #191718;
}

li {
    /* position: absolute;
    
    height: 19px; */
    
    left: 16px;
    top: 14px;
    /* font-style: normal; */
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #AAAAAA;
    height: 44px;
    border-bottom: 1px solid #AAAAAA;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 70px;
}

li:hover{
    color: white;
    background: #5C5C5C;
}

.content {
    text-align: center;
}

.logo img {
    padding: 20px 0;
}

.container {
    padding: 0 129px;
}

.introduce {
    max-width: 1510px;
    height: auto;
    background: #EFEFEF;
}

.introduce h4 {
    padding-top: 20px;
}

 h2 {
    text-align: left;
    padding-bottom: 20px;
}

p {
    text-align: left;
}

.introduce p {
    padding: 25px 144px 38px 144px;
    text-align: center;
}

.columns  {
    display: flex;
    margin-bottom: 100px;
}

.col-4 {
    padding-right: 20px;
}
.col-4 img{
    float: left;
    padding-right: 16px;
}

footer {
    border-top: 1px solid #DEDEDE;
}

footer p {
    padding: 30px 0;
    color: #3E3E3E;
}

@media screen and (max-width: 768px) {

    .container {
        padding: 20px 20px;
    }
    .columns {
        display: inline-block;
    }

    .introduce p {
        padding: 25px 10px 38px 10px;
    }

    .introduce {
        height: auto;
    }
}